.main {
    height: 100%;
    width: 100%;
    cursor: auto;
}

.imageCursorSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    /*overflow: hidden;*/
    cursor: none;

}

.imageCursorSpace img {
    width: 30vw;
    position: absolute;
    display: none;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    /*border-radius: 50%;*/
}

@font-face {
    font-family: 'SongNeue2';
    src: url('../public/SongNeue 75Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'SongNeue';
    src: url('../public/SongNeue 55 Roman.woff2') format('woff2');
    font-weight: 400;
}

/*header box*/
.textBox {
    width: fit-content;

    /*justify-content: center;*/
    /*padding: 1rem;*/
    background-color: #ffffff;
    z-index: 475;
    align-items: center;
    /*padding-left: 8px;*/
    /*padding-top: 8px;*/
    /*border-radius: 16px;*/
}

.floatingText {

    justify-content: center;
    text-align: center;
    /*padding-bottom: 8px;*/
    /*padding-top: 8px;*/
    /*padding: 2rempx;*/
    font-size: 4rem;
    z-index: 900;
    position: relative;
    font-family: 'SongNeue2', serif;
    color: #313638;
    /*cursor: pointer;*/
    background-color: #ffffff;
}



.subheader {
    margin-left: 4px;
    padding-left: 16px;
    text-align: left;
    font-family: 'SongNeue', serif;
    font-weight: 400;
    font-size: 3rem;
    z-index: 900;
    position: relative;
    color: #313638;
    pointer-events: none;
    background-color: #ffffff;
}

/*nav*/

.navPanel {
    background-color: #fff;
    justify-content: center;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.navItem {
    height: auto;
    width: fit-content;
    /*width: 250px;*/
    margin: 4px;
    padding: 4px;
    /*padding-top: 16px;*/
    /*margin-right: 10rem;*/
    /*padding-left: 8px;*/
    text-align: left;
    font-family: 'SongNeue', serif;
    font-weight: 400;
    font-size: 3rem;
    z-index: 900;
    position: relative;
    color: #313638;
    text-decoration: none;
    background-color: #fff;
    /*pointer-events: pointer;*/
}

.navItem:hover {
    background-color: #313638;
    color: #fff;
}

/*cursor*/
.cursor-inner,
.cursor-outer {
    pointer-events: none;
    position: fixed;
    border-radius: 99%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    z-index: 999;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/*:root {*/
/*    --cursor-color: #fff;*/
/*}*/


.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /*padding: 4px;*/
    font-size: 12px;
    z-index: 952;
    color: #fff;
}