.main {
    height: 100%;
    width: 100%;
    cursor: auto;
}

.imageCursorSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    cursor: none;
}

.imageCursorSpace img {
    width: 30vw;
    position: absolute;
    display: none;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    cursor: none;
}

@font-face {
    font-family: 'SongNeue2';
    src: url('../public/SongNeue 75Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'SongNeue';
    src: url('../public/SongNeue 55 Roman.woff2') format('woff2');
    font-weight: 400;
}

.textBox {
    width: fit-content;
    background-color: #ffffff;
    z-index: 475;
    align-items: center;
    pointer-events: none;
    user-select: none;
}

.inverted {
    filter: invert(1) hue-rotate(3.142rad);
    height: 100%;
    width: 100%;
    cursor: none;
}

.floatingText {
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    z-index: 900;
    position: relative;
    font-family: 'SongNeue2', serif;
    color: #313638;
    background-color: #ffffff;
    pointer-events: none;
}

.subheader {
    user-select: none;
    margin-left: 4px;
    padding-left: 16px;
    text-align: left;
    font-family: 'SongNeue', serif;
    font-weight: 400;
    font-size: 3rem;
    z-index: 900;
    position: relative;
    color: #313638;
    pointer-events: none;
    background-color: #ffffff;
}

.navPanel {
    justify-content: center;
    padding-top: 12px;
    display: flex;
    flex-direction: row;
}

.navItem {
    height: auto;
    width: fit-content;
    margin: 6px;
    padding: 2px;
    text-align: left;
    font-family: 'SongNeue', serif;
    font-weight: 400;
    font-size: 3rem;
    z-index: 900;
    position: relative;
    color: #313638;
    text-decoration: none;
    background-color: #fff;
}

.navItem:hover {
    background-color: #313638;
    color: #fff;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    z-index: 952;
    color: #fff;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .imageCursorSpace img {
        width: 60vw;
    }

    .floatingText {
        font-size: 2rem;
    }

    .subheader {
        font-size: 1.5rem;
    }

    .navItem {
        font-size: 1.5rem;
    }
}
