.main {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    cursor: none;
}

.main img {
    width: 30vw;
    position: absolute;
    display: none;
    transform: translateX(-50%) translateY(-50%);
}

@font-face {
    font-family: 'SongNeue2';
    src: url('../public/SongNeue 75Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'SongNeue';
    src: url('../public/SongNeue 55 Roman.woff2') format('woff2');
    font-weight: 400;
}

.floatingText {
    text-align: left;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 3rem;
    z-index: 900;
    position: relative;
    font-family: 'SongNeue2', serif;
    pointer-events: none;
    color: #000;
}

.subheader {
    text-align: left;
    font-family: 'SongNeue', serif;
    font-weight: 400;
    font-size: 2rem;
    z-index: 900;
    position: relative;
    color: #000;
}

#cursor-inner {
    display: none;
}

#cursor-outer {
    pointer-events: none;
    position: fixed;
    border-radius: 50%;
    opacity: 1; /* Adjust as necessary */
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: var(--cursor-color); /* Ensure this matches your intended color */
    mix-blend-mode: exclusion; /* Ensure this matches your intended blend mode */
}
